@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>I would just like to say this was very quick and easy due to the integration of github and azure</p>
<p> this is a later change at 16:03 <p>