@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>I would just like to say this was very quick and easy due to the integration of github and azure</p>
<p> this is a later change at 16:03 on the 12/10/2015</p>
<p> This is a new change on 13-10-15 at 9:15</p>

